@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

*, *:before, *:after {
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

body {
  margin: 0px;
}

:root .dark {
  --background: #141414;
  --text: white;
  --secondaryBG: #282828;
  --tertiaryBG: #353535;
  --inputBackground: #454545;
  --border: #323232;
  --buttonBackground: #454545;
  --buttonBGHover: #656565;
}

:root .light {
  --background: #ffffff;
  --text: black;
  --secondaryBG: #F2F6FC;
  --inputBackground: #ffffff;
  --border: #d7dfea;
  --buttonBackground: #ffffff;
  --buttonBGHover: #eeeeee;
}

body {
  font-family: 'Lato', sans-serif;
  background: var(--background);
  color: var(--text);
}

h1 {
  margin-top: 2px;
  margin-bottom: 8px;
}

.topbar > h1 {
  margin-bottom: 2px;
}

.topbar {
  position: relative;
  z-index: 100;
  background: var(--secondaryBG);
  margin: 0;
  margin-bottom: 4px;
  border-bottom: 4px solid var(--border);
  padding: 8px;
}

.popup {
  background: var(--secondaryBG);
  border: 0px solid var(--border);
  padding: 16px;
  border-radius: 10px;
  text-align: center;
  margin: auto;
}

#loginPopup {
  width: fit-content;
  height: fit-content;

  padding: 40px;

  position: absolute;

  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);

  white-space: nowrap;
}

input[type=text] {
  border: none;
  border-radius: 20px;
  padding: 12px 16px;
  background: var(--inputBackground);
  color: var(--text);
  outline: none;
}

button {
  border: none;
  background: var(--buttonBackground);
  color: var(--text);

  cursor: pointer;

  border-radius: 20px;
  padding: 12px 16px;
  transition: background 0.2s;
}

button:hover {
  background: var(--buttonBGHover);
}

.join-button {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

#usernameInput {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.messageBarContainer {
  margin: 0;
  width: calc(100% - 60px);
  position: absolute;
  bottom: 30px;
  left: 0;
  right: 0;
  margin: auto;
}


#sendButton, #moreButton {
  background-size: contain;
  color: transparent;
}

#sendButton {
  background-image: url("img/send.png");
  background-size: 80%;
  background-position: center;
  background-repeat: no-repeat;

  border-radius: 5px 20px 20px 5px;
}

#moreButton {
  background-image: url("img/more.png");
  background-size: 80%;
  background-position: center;
  background-repeat: no-repeat;

  border-radius: 20px 5px 5px 20px;
}

#messageInput {
  width: calc(100% - 95px);
  border-radius: 5px;
}

.messagesContainer {
  overflow-x: hidden;
  overflow-y: scroll;
  max-height: calc(100vh - 138px);
  position: absolute;
  bottom: 75px;
  left: 0;
  right: 0;
  width: calc(100% - 60px);
  margin: auto;
  transition: bottom 0.2s;
}

.messagesContainer.attachmentsOpen {
  bottom: 200px;
}

.messagesFade {
  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;
  top: 60px;
  width: 100%;
  margin: auto;
  height: 0px;
  background: var(--background);
  background: linear-gradient(180deg, var(--background) 0%, rgba(0,0,0,0) 100%);
}

.message {
  margin-top: 10px;
  background: var(--secondaryBG);
  border-radius: 20px;
  padding: 10px 20px;
  width: fit-content;
  color:white ;
}

.serverMessage {
  color: lime;
  font-weight: bold;
  border-radius: 10px;
}

.serverMessage > img {
  height: 19px;
  padding-right: 4px;
}

.attachmentMessage {
  margin-top: 2px;
  background: var(--secondaryBG);
  border-radius: 5px 20px 20px 20px;
  padding: 10px;
  width: fit-content;
  max-width: 25vw;
}

#attachments {
  margin: 0;
  width: calc(100% - 60px);
  position: absolute;
  bottom: 80px;
  left: 0;
  right: 0;
  margin: auto;
  background: var(--secondaryBG);
  padding-left: 10px;
  padding-top: 7.5px;
  border-radius: 20px;
  height: 0;
  opacity: 0;
  transition: height 0.2s, opacity 0.2s;
}

#attachments.attachmentsOpen {
  height: 115px;
  opacity: 1;
}

#moreMenu {
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
  margin: 0;
  position: absolute;
  bottom: 80px;
  left: 30px;
  width: 350px;
  margin: auto;
  background: var(--secondaryBG);
  padding: 0px;
  border-radius: 20px;
  height: 0;
  opacity: 0;
  transition: height 0.2s, opacity 0.2s;
  overflow: hidden;
}

#moreMenu.open {
  height: fit-content;
  opacity: 1;
}

.moreMenuOpt {
  width: 100%;
  border-radius: 0;
}

.attachment {
  height: 100px;
  border-radius: 10px;
  margin-right: 5px;
  background: var(--tertiaryBG)
}

#roomInput {
  position: absolute;
  top: 10px;
  right: 20px;
}

.tttGrid {
  background: lime;
  display: grid;
  width: 160px;
  gap: 5px;
  grid-template-columns: repeat(3, 1fr);
}

.tttTile {
  border-radius: 0;
  border: 0;
  background: var(--secondaryBG);
  width: 50px;
  aspect-ratio: 1;
  background-size: cover;
}

.tttTile:hover {
  background-size: cover;
}

.channel-link {
  color: lime;
  cursor: pointer;
  transition: color 0.2s;
}

.channel-link:hover {
  color: #85ff85
}

